
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post">
    <label>Enter first number  :</label><input type="number" name="i" />
    <br />
    <label>Enter second number  :</label><input type="number" name="j" />
    <br />
    <input type="submit" value="Divide"/>

    <h1>@ViewBag.answer</h1>

</form>

<h1>@ViewBag.MessagetoUser</h1>

