
@{
    ViewBag.Title = "EditCategory";
}

<h2>EditCategory</h2>
<form method="post">
    <label>Enter id</label>
    <input type="number" name="id" />
    <input type="submit" value="Search and Send to details page"/>

</form>

